body {
  color: white;
}
aside {
  float: right;
  position: relative;

}

.sidebar {
    width: 150px;
    height: 30px;
    background-color: green;
    padding: 50px;
    padding-bottom: 200px;
    border: 30px;
    opacity: .4;
    /*margin: 50px;*/
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  /*background-color: #efefef;*/
  text-align: center;
}
