html {
        background: url('portfolio images/HiddenValleySnow.JPG') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        /*background="portfolio images/night snow.jpeg" alt=""*/
    }

body {
  color: #D4D6DE;
  font-family: "Arial Black", Gadget, sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-repeat: no-repeat;
  /*background-color: #5B3D3D;*/
  /*background-color: #3F3535;*/
}
aside {
  float: right;
  position: relative;
  /*opacity: .4;*/
  background-color: green;
}
a {
  color: #61679B;
}

.sidebar {
    width: 150px;
    height: 30px;
    /*background-color: #594848;*/
    background-color: #3F3535;
    opacity: 0.8;
    padding: 50px;
    padding-bottom: 500px;
    padding-top: 200px;
    border: 30px;
    margin: 20;
    /*opacity: .4;*/
    /*margin: 50px;*/
}

footer {
  position:fixed;
 bottom:0;
 left:0;
}

img {
    width: 130%;
    height: auto;
    /*background-image: url('img_flowers.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    /*border: 1px solid black;*/
    padding-top: 100px;
    opacity: .8;
}
